:root {
  --ms-font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --ms-font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --ms-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ms-font-family-base: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --ms-main-bg: #ffffff;
  --ms-main-color: #333333;
  --ms-main-border-color: #dddddd;
  --ms-main-variant-color: #333333;
  --ms-main-variant-bg: #e6e6e6;
  --ms-main-hover-color: #333333;
  --ms-main-hover-bg: #e0e0e0;
  --ms-code-color: #c7254e;
  --ms-focus-color: rgba(13, 110, 253, 0.4);
  --ms-placeholder-color: #808080;
  --ms-disabled-color: #999;
  --ms-disabled-bg: #eee;
  --ms-link-color: #0d6efd;
  --ms-link-hover-color: #025bdf;
  --ms-primary: #0d6efd;
  --ms-primary-contrast: #ffffff;
  --ms-info: #0dcaf0;
  --ms-info-contrast: #ffffff;
  --ms-success: #198754;
  --ms-success-contrast: #ffffff;
  --ms-warning: #ebbc35;
  --ms-warning-contrast: #ffffff;
  --ms-danger: #bb4940;
  --ms-danger-contrast: #ffffff;
  --ms-loader-color: #333333;
  --ms-loader-fade-color: rgba(51, 51, 51, 0.2);
  --ms-loader-primary-color: #0d6efd;
  --ms-loader-primary-fade-color: rgba(13, 110, 253, 0.2);
  --ms-loader-primary-contrast-color: #ffffff;
  --ms-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
  --ms-jumbotron-color: #333333;
  --ms-jumbotron-bg: rgba(255, 255, 255, 0.75);
  --ms-timeline-selected-bg: rgba(13, 110, 253, 0.05);
  --ms-timeline-histogram-bg: rgba(13, 110, 253, 0.5);
  --ms-timeline-histogram-color: #0257d5;
  --ms-timeline-range-bg: rgba(51, 51, 51, 0.2);
  --ms-timeline-playback-range-bg: rgba(33, 178, 111, 0.2);
  --ms-button-color: #0d6efd;
  --ms-button-bg: #ffffff;
  --ms-button-border-color: #0d6efd;
  --ms-button-focus-color: #0d6efd;
  --ms-button-focus-bg: #ffffff;
  --ms-button-focus-border-color: #0d6efd;
  --ms-button-hover-color: #408cfd;
  --ms-button-hover-bg: #e6e6e6;
  --ms-button-hover-border-color: #0d6efd;
  --ms-button-active-color: #408cfd;
  --ms-button-active-bg: #e6e6e6;
  --ms-button-active-border-color: #0d6efd;
  --ms-button-active-hover-color: #408cfd;
  --ms-button-active-hover-bg: #d4d4d4;
  --ms-button-active-hover-border-color: #0d6efd;
  --ms-button-disabled-color: #999;
  --ms-button-disabled-bg: #eee;
  --ms-button-disabled-border-color: #eee;
  --ms-button-badge-color: #0d6efd;
  --ms-button-badge-bg: #ffffff;
  --ms-button-primary-color: #ffffff;
  --ms-button-primary-bg: #0d6efd;
  --ms-button-primary-border-color: #0264f4;
  --ms-button-primary-focus-color: #ffffff;
  --ms-button-primary-focus-bg: #0d6efd;
  --ms-button-primary-focus-border-color: #0264f4;
  --ms-button-primary-hover-color: #ffffff;
  --ms-button-primary-hover-bg: #0257d5;
  --ms-button-primary-hover-border-color: #0253cb;
  --ms-button-primary-active-color: #ffffff;
  --ms-button-primary-active-bg: #0257d5;
  --ms-button-primary-active-border-color: #0253cb;
  --ms-button-primary-active-hover-color: #ffffff;
  --ms-button-primary-active-hover-bg: #0149b2;
  --ms-button-primary-active-hover-border-color: #013889;
  --ms-button-primary-disabled-color: #ffffff;
  --ms-button-primary-disabled-bg: #96b1da;
  --ms-button-primary-disabled-border-color: #96b1da;
  --ms-button-primary-badge-color: #0d6efd;
  --ms-button-primary-badge-bg: #ffffff;
  --ms-button-info-color: #ffffff;
  --ms-button-info-bg: #0dcaf0;
  --ms-button-info-border-color: #0cbadd;
  --ms-button-info-focus-color: #ffffff;
  --ms-button-info-focus-bg: #0dcaf0;
  --ms-button-info-focus-border-color: #0cbadd;
  --ms-button-info-hover-color: #ffffff;
  --ms-button-info-hover-bg: #0aa1c0;
  --ms-button-info-hover-border-color: #0a99b6;
  --ms-button-info-active-color: #ffffff;
  --ms-button-info-active-bg: #0aa1c0;
  --ms-button-info-active-border-color: #0a99b6;
  --ms-button-info-active-hover-color: #ffffff;
  --ms-button-info-active-hover-bg: #09859e;
  --ms-button-info-active-hover-border-color: #066477;
  --ms-button-info-disabled-color: #ffffff;
  --ms-button-info-disabled-bg: #93c6d0;
  --ms-button-info-disabled-border-color: #93c6d0;
  --ms-button-info-badge-color: #0dcaf0;
  --ms-button-info-badge-bg: #ffffff;
  --ms-button-success-color: #ffffff;
  --ms-button-success-bg: #198754;
  --ms-button-success-border-color: #13653f;
  --ms-button-success-focus-color: #ffffff;
  --ms-button-success-focus-bg: #198754;
  --ms-button-success-focus-border-color: #13653f;
  --ms-button-success-hover-color: #ffffff;
  --ms-button-success-hover-bg: #115c39;
  --ms-button-success-hover-border-color: #0f5334;
  --ms-button-success-active-color: #ffffff;
  --ms-button-success-active-bg: #115c39;
  --ms-button-success-active-border-color: #0f5334;
  --ms-button-success-active-hover-color: #ffffff;
  --ms-button-success-active-hover-bg: #0b3e26;
  --ms-button-success-active-hover-border-color: #051b11;
  --ms-button-success-disabled-color: #ffffff;
  --ms-button-success-disabled-bg: #6c9a85;
  --ms-button-success-disabled-border-color: #6c9a85;
  --ms-button-success-badge-color: #198754;
  --ms-button-success-badge-bg: #ffffff;
  --ms-button-warning-color: #ffffff;
  --ms-button-warning-bg: #ebbc35;
  --ms-button-warning-border-color: #e9b622;
  --ms-button-warning-focus-color: #ffffff;
  --ms-button-warning-focus-bg: #ebbc35;
  --ms-button-warning-focus-border-color: #e9b622;
  --ms-button-warning-hover-color: #ffffff;
  --ms-button-warning-hover-bg: #d8a515;
  --ms-button-warning-hover-border-color: #ce9e14;
  --ms-button-warning-active-color: #ffffff;
  --ms-button-warning-active-bg: #d8a515;
  --ms-button-warning-active-border-color: #ce9e14;
  --ms-button-warning-active-hover-color: #ffffff;
  --ms-button-warning-active-hover-bg: #b78d12;
  --ms-button-warning-active-hover-border-color: #92700e;
  --ms-button-warning-disabled-color: #ffffff;
  --ms-button-warning-disabled-bg: #d6ccb0;
  --ms-button-warning-disabled-border-color: #d6ccb0;
  --ms-button-warning-badge-color: #ebbc35;
  --ms-button-warning-badge-bg: #ffffff;
  --ms-button-danger-color: #ffffff;
  --ms-button-danger-bg: #bb4940;
  --ms-button-danger-border-color: #ac433b;
  --ms-button-danger-focus-color: #ffffff;
  --ms-button-danger-focus-bg: #bb4940;
  --ms-button-danger-focus-border-color: #ac433b;
  --ms-button-danger-hover-color: #ffffff;
  --ms-button-danger-hover-bg: #953a33;
  --ms-button-danger-hover-border-color: #8d3730;
  --ms-button-danger-active-color: #ffffff;
  --ms-button-danger-active-bg: #953a33;
  --ms-button-danger-active-border-color: #8d3730;
  --ms-button-danger-active-hover-color: #ffffff;
  --ms-button-danger-active-hover-bg: #7a302a;
  --ms-button-danger-active-hover-border-color: #5c241f;
  --ms-button-danger-disabled-color: #ffffff;
  --ms-button-danger-disabled-bg: #b1b1b1;
  --ms-button-danger-disabled-border-color: #b1b1b1;
  --ms-button-danger-badge-color: #bb4940;
  --ms-button-danger-badge-bg: #ffffff;
  --ms-button-tray-color: #4d4d4d;
  --ms-button-tray-bg: #ffffff;
  --ms-button-tray-border-color: #1774fd;
  --ms-button-tray-focus-color: #4d4d4d;
  --ms-button-tray-focus-bg: #e6e6e6;
  --ms-button-tray-focus-border-color: #024dbc;
  --ms-button-tray-hover-color: #4d4d4d;
  --ms-button-tray-hover-bg: #e6e6e6;
  --ms-button-tray-hover-border-color: #0368fd;
  --ms-button-tray-active-color: #4d4d4d;
  --ms-button-tray-active-bg: #e6e6e6;
  --ms-button-tray-active-border-color: #0368fd;
  --ms-button-tray-active-hover-color: #4d4d4d;
  --ms-button-tray-active-hover-bg: #d4d4d4;
  --ms-button-tray-active-hover-border-color: #024dbc;
  --ms-button-tray-disabled-color: #4d4d4d;
  --ms-button-tray-disabled-bg: #ffffff;
  --ms-button-tray-disabled-border-color: #ffffff;
  --ms-button-tray-badge-color: #ffffff;
  --ms-button-tray-badge-bg: #4d4d4d;
}
